In [1]:
import pandas as pd

In [33]:
day_one_trips = pd.read_csv("2021_Green_Taxi_Trip_Data.csv")
day_one_trips

/tmp/ipykernel_35259/1352520779.py:1: DtypeWarning: Columns (8,9,16) have mixed types. Specify dtype option on import or set low_memory=False.
  day_one_trips = pd.read_csv("2021_Green_Taxi_Trip_Data.csv")

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,01/01/2021 12:15:56 AM,01/01/2021 12:19:52 AM,N,1.0,43,151,1.0,1.01,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.8,2.0,1.0,0.00
1,2.0,01/01/2021 12:25:59 AM,01/01/2021 12:34:44 AM,N,1.0,166,239,1.0,2.53,10.0,0.50,0.5,2.81,0.0,NaN,0.3,16.86,1.0,1.0,2.75
2,2.0,01/01/2021 12:45:57 AM,01/01/2021 12:51:55 AM,N,1.0,41,42,1.0,1.12,6.0,0.50,0.5,1.00,0.0,NaN,0.3,8.3,1.0,1.0,0.00
3,2.0,12/31/2020 11:57:51 PM,01/01/2021 12:04:56 AM,N,1.0,168,75,1.0,1.99,8.0,0.50,0.5,0.00,0.0,NaN,0.3,9.3,2.0,1.0,0.00
4,2.0,01/01/2021 12:16:36 AM,01/01/2021 12:16:40 AM,N,2.0,265,265,3.0,0,-52.0,0.00,-0.5,0.00,0.0,NaN,-0.3,-52.8,3.0,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2.0,12/05/2021 11:29:00 AM,12/05/2021 11:58:00 AM,NaN,NaN,68,80,NaN,5.78,26.62,2.75,0.0,0.00,0.0,NaN,0.3,29.67,NaN,NaN,NaN
1048571,2.0,12/05/2021 11:13:00 AM,12/05/2021 11:54:00 AM,NaN,NaN,100,225,NaN,8.17,30.39,2.75,0.0,0.00,0.0,NaN,0.3,33.44,NaN,NaN,NaN
1048572,2.0,12/05/2021 11:51:00 AM,12/05/2021 11:54:00 AM,NaN,NaN,244,244,NaN,0,50.42,2.75,0.0,0.00,0.0,NaN,0.3,53.47,NaN,NaN,NaN
1048573,2.0,12/05/2021 11:44:00 AM,12/05/2021 11:47:00 AM,NaN,NaN,51,51,NaN,0.6,14.13,2.75,0.0,0.00,0.0,NaN,0.3,17.18,NaN,NaN,NaN
1048574,2.0,12/05/2021 11:08:00 AM,12/05/2021 11:16:00 AM,NaN,NaN,85,61,NaN,1.74,21.37,2.75,0.0,0.00,0.0,NaN,0.3,24.42,NaN,NaN,NaN

In [35]:
day_one_trips0 = day_one_trips[(day_one_trips["lpep_pickup_datetime"] >= "01/01/2021") &                      
                      (day_one_trips["lpep_pickup_datetime"] < "01/02/2021")]
day_one_trips0

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,01/01/2021 12:15:56 AM,01/01/2021 12:19:52 AM,N,1.0,43,151,1.0,1.01,5.5,0.5,0.5,0.00,0.00,NaN,0.3,6.8,2.0,1.0,0.00
1,2.0,01/01/2021 12:25:59 AM,01/01/2021 12:34:44 AM,N,1.0,166,239,1.0,2.53,10.0,0.5,0.5,2.81,0.00,NaN,0.3,16.86,1.0,1.0,2.75
2,2.0,01/01/2021 12:45:57 AM,01/01/2021 12:51:55 AM,N,1.0,41,42,1.0,1.12,6.0,0.5,0.5,1.00,0.00,NaN,0.3,8.3,1.0,1.0,0.00
4,2.0,01/01/2021 12:16:36 AM,01/01/2021 12:16:40 AM,N,2.0,265,265,3.0,0,-52.0,0.0,-0.5,0.00,0.00,NaN,-0.3,-52.8,3.0,1.0,0.00
5,2.0,01/01/2021 12:16:36 AM,01/01/2021 12:16:40 AM,N,2.0,265,265,3.0,0,52.0,0.0,0.5,0.00,0.00,NaN,0.3,52.8,2.0,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46014,NaN,01/01/2021 10:44:00 PM,01/01/2021 10:59:00 PM,NaN,NaN,17,188,NaN,3.23,37.31,0.0,0.0,2.75,0.00,NaN,0.3,40.36,NaN,NaN,NaN
46015,NaN,01/01/2021 10:03:00 PM,01/01/2021 10:35:00 PM,NaN,NaN,41,10,NaN,15.41,53.53,0.0,0.0,2.75,6.12,NaN,0.3,62.7,NaN,NaN,NaN
46016,NaN,01/01/2021 10:08:00 PM,01/01/2021 10:42:00 PM,NaN,NaN,86,226,NaN,17.94,65.05,0.0,0.0,2.75,0.00,NaN,0.3,68.1,NaN,NaN,NaN
46017,NaN,01/01/2021 11:21:00 PM,01/01/2021 11:31:00 PM,NaN,NaN,136,235,NaN,1.47,15.45,0.0,0.0,2.75,0.00,NaN,0.3,18.5,NaN,NaN,NaN
46018,NaN,01/01/2021 11:29:00 PM,01/01/2021 11:54:00 PM,NaN,NaN,41,3,NaN,11.32,34.69,0.0,0.0,2.75,0.00,NaN,0.3,37.74,NaN,NaN,NaN

In [36]:
day_one_trips.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [37]:
day_one_trips1 = day_one_trips0 [["lpep_pickup_datetime",
                                             "lpep_dropoff_datetime",
                                             "passenger_count",
                                             "trip_distance",
                                             "PULocationID"
                                ]]
day_one_trips1

,lpep_pickup_datetime,lpep_dropoff_datetime,passenger_count,trip_distance,PULocationID
0,01/01/2021 12:15:56 AM,01/01/2021 12:19:52 AM,1.0,1.01,43
1,01/01/2021 12:25:59 AM,01/01/2021 12:34:44 AM,1.0,2.53,166
2,01/01/2021 12:45:57 AM,01/01/2021 12:51:55 AM,1.0,1.12,41
4,01/01/2021 12:16:36 AM,01/01/2021 12:16:40 AM,3.0,0,265
5,01/01/2021 12:16:36 AM,01/01/2021 12:16:40 AM,3.0,0,265
...,...,...,...,...,...
46014,01/01/2021 10:44:00 PM,01/01/2021 10:59:00 PM,NaN,3.23,17
46015,01/01/2021 10:03:00 PM,01/01/2021 10:35:00 PM,NaN,15.41,41
46016,01/01/2021 10:08:00 PM,01/01/2021 10:42:00 PM,NaN,17.94,86
46017,01/01/2021 11:21:00 PM,01/01/2021 11:31:00 PM,NaN,1.47,136
46018,01/01/2021 11:29:00 PM,01/01/2021 11:54:00 PM,NaN,11.32,41

In [39]:
day_two_trips2 = day_one_trips[(day_one_trips["lpep_pickup_datetime"] >= "01/02/2021") &                      
                      (day_one_trips["lpep_pickup_datetime"] < "01/03/2021")]
day_two_trips2

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
634,2.0,01/02/2021 12:14:34 AM,01/02/2021 12:19:53 AM,N,1.0,42,244,1.0,1.25,6.0,0.50,0.5,0.00,0.00,NaN,0.3,7.3,1.0,1.0,0.00
635,2.0,01/02/2021 12:21:20 AM,01/02/2021 12:52:01 AM,N,1.0,75,220,1.0,9.11,31.0,0.50,0.5,0.00,0.00,NaN,0.3,32.3,1.0,1.0,0.00
636,1.0,01/02/2021 12:09:02 AM,01/02/2021 12:15:59 AM,N,1.0,65,232,1.0,3.7,12.0,3.25,0.5,0.00,0.00,NaN,0.3,16.05,2.0,1.0,2.75
637,1.0,01/02/2021 12:48:21 AM,01/02/2021 01:06:31 AM,N,1.0,75,20,2.0,9.4,26.0,0.50,0.5,0.02,0.00,NaN,0.3,27.32,1.0,1.0,0.00
638,2.0,01/02/2021 12:56:04 AM,01/02/2021 12:57:18 AM,N,1.0,74,41,1.0,0.37,3.0,0.50,0.5,1.00,0.00,NaN,0.3,5.3,1.0,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55985,NaN,01/02/2021 11:31:00 PM,01/02/2021 11:42:00 PM,NaN,NaN,116,166,NaN,1.85,8.64,0.00,0.0,1.96,0.00,NaN,0.3,10.9,NaN,NaN,NaN
55986,NaN,01/02/2021 11:12:00 PM,01/02/2021 11:37:00 PM,NaN,NaN,41,240,NaN,9.79,36.66,0.00,0.0,2.75,0.00,NaN,0.3,39.71,NaN,NaN,NaN
55987,NaN,01/02/2021 11:55:00 PM,01/03/2021 12:18:00 AM,NaN,NaN,174,229,NaN,12.63,45.43,0.00,0.0,2.75,6.12,NaN,0.3,54.6,NaN,NaN,NaN
55988,NaN,01/02/2021 11:53:00 PM,01/03/2021 12:30:00 AM,NaN,NaN,7,92,NaN,8.18,40.8,0.00,0.0,2.75,0.00,NaN,0.3,43.85,NaN,NaN,NaN
55989,NaN,01/02/2021 11:11:00 PM,01/02/2021 11:26:00 PM,NaN,NaN,7,202,NaN,3.58,22.45,0.00,0.0,2.75,0.00,NaN,0.3,25.5,NaN,NaN,NaN

In [ ]:
#merge join concat
#merge
#day_one_trip.merge(zone, left_on= "PULocationID", right_on="locationID", how="left")

#join
#day_one_trip.join(zones, how="left" , on="PULocationID")

#concat
#   pd.concat([day_one_trips, day_two_trips], ignore_index =  True)