In [2]:
import pandas as pd
import json

with open('api.le-systeme-solaire.net.json') as f:
    data = json.load(f)

df = pd.DataFrame(data)
print(df)

                                                bodies
0    {'id': 'lune', 'name': 'La Lune', 'englishName...
1    {'id': 'phobos', 'name': 'Phobos', 'englishNam...
2    {'id': 'deimos', 'name': 'Deïmos', 'englishNam...
3    {'id': 'io', 'name': 'Io', 'englishName': 'Io'...
4    {'id': 'europe', 'name': 'Europe', 'englishNam...
..                                                 ...
282  {'id': 's2004s37', 'name': 'S/2004 S 37', 'eng...
283  {'id': 's2004s38', 'name': 'S/2004 S 38', 'eng...
284  {'id': 's2004s39', 'name': 'S/2004 S 39', 'eng...
285  {'id': 'c2020f3-neowise', 'name': 'C/2020 F3 (...
286  {'id': 's2003j24', 'name': 'S/2003 J 24', 'eng...

[287 rows x 1 columns]

In [3]:
df.columns

Index(['bodies'], dtype='object')

In [4]:
df['bodies']

0      {'id': 'lune', 'name': 'La Lune', 'englishName...
1      {'id': 'phobos', 'name': 'Phobos', 'englishNam...
2      {'id': 'deimos', 'name': 'Deïmos', 'englishNam...
3      {'id': 'io', 'name': 'Io', 'englishName': 'Io'...
4      {'id': 'europe', 'name': 'Europe', 'englishNam...
                             ...
282    {'id': 's2004s37', 'name': 'S/2004 S 37', 'eng...
283    {'id': 's2004s38', 'name': 'S/2004 S 38', 'eng...
284    {'id': 's2004s39', 'name': 'S/2004 S 39', 'eng...
285    {'id': 'c2020f3-neowise', 'name': 'C/2020 F3 (...
286    {'id': 's2003j24', 'name': 'S/2003 J 24', 'eng...
Name: bodies, Length: 287, dtype: object

In [5]:
df['bodies'][0]['name']

'La Lune'

In [6]:
# Flatten data
df_bodies = pd.json_normalize(data, record_path =['bodies'])
df_bodies

,id,name,englishName,isPlanet,moons,semimajorAxis,perihelion,aphelion,eccentricity,inclination,...,rel,mass.massValue,mass.massExponent,vol.volValue,vol.volExponent,aroundPlanet.planet,aroundPlanet.rel,vol,mass,aroundPlanet
0,lune,La Lune,Moon,False,None,384400,363300,405500,0.05490,5.145,...,https://api.le-systeme-solaire.net/rest/bodies...,7.3460,22.0,2.19680,10.0,terre,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN
1,phobos,Phobos,Phobos,False,None,9378,9234,9518,0.01510,1.075,...,https://api.le-systeme-solaire.net/rest/bodies...,1.0600,16.0,5.78361,3.0,mars,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN
2,deimos,Deïmos,Deimos,False,None,23459,23456,23471,0.00020,1.075,...,https://api.le-systeme-solaire.net/rest/bodies...,1.4762,15.0,9.99780,3.0,mars,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN
3,io,Io,Io,False,None,421800,420071,423529,0.00400,0.036,...,https://api.le-systeme-solaire.net/rest/bodies/io,8.9320,22.0,NaN,NaN,jupiter,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN
4,europe,Europe,Europa,False,None,671100,0,0,0.00900,0.466,...,https://api.le-systeme-solaire.net/rest/bodies...,4.8000,22.0,NaN,NaN,jupiter,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282,s2004s37,S/2004 S 37,S/2004 S 37,False,None,16003300,0,0,0.50600,164.000,...,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN,NaN,saturne,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN
283,s2004s38,S/2004 S 38,S/2004 S 38,False,None,23006200,0,0,0.38100,155.000,...,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN,NaN,saturne,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN
284,s2004s39,S/2004 S 39,S/2004 S 39,False,None,22790400,0,0,0.08100,167.600,...,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN,NaN,saturne,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN
285,c2020f3-neowise,C/2020 F3 (NEOWISE),C/2020 F3 (NEOWISE),False,None,40690620830,0,0,0.99921,128.930,...,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286,s2003j24,S/2003 J 24,S/2003 J 24,False,None,23088000,0,0,0.25000,0.000,...,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN,NaN,jupiter,https://api.le-systeme-solaire.net/rest/bodies...,NaN,NaN,NaN

In [7]:
bodies_names = df_bodies['name']
bodies_names

0                  La Lune
1                   Phobos
2                   Deïmos
3                       Io
4                   Europe
              ...
282            S/2004 S 37
283            S/2004 S 38
284            S/2004 S 39
285    C/2020 F3 (NEOWISE)
286            S/2003 J 24
Name: name, Length: 287, dtype: object

In [8]:

with open('api.le-systeme-solaire.net_count.json') as f:
    data1 = json.load(f)

df1 = pd.DataFrame(data1)
print(df1)

                                          knowncount
0  {'id': 'planet', 'knownCount': 8, 'updateDate'...
1  {'id': 'dwarfPlanet', 'knownCount': 5, 'update...
2  {'id': 'asteroid', 'knownCount': 1113527, 'upd...
3  {'id': 'comet', 'knownCount': 3743, 'updateDat...
4  {'id': 'moonsPlanet', 'knownCount': 206, 'upda...
5  {'id': 'moonsDwarfPlanet', 'knownCount': 9, 'u...
6  {'id': 'moonsAsteroid', 'knownCount': 558, 'up...

In [9]:
# Flatten data
df_bodies_count = pd.json_normalize(data1, record_path =['knowncount'])
df_bodies_count

,id,knownCount,updateDate,rel
0,planet,8,24/08/2006,https://api.le-systeme-solaire.net/rest/knownc...
1,dwarfPlanet,5,24/08/2006,https://api.le-systeme-solaire.net/rest/knownc...
2,asteroid,1113527,21/11/2021,https://api.le-systeme-solaire.net/rest/knownc...
3,comet,3743,08/08/2021,https://api.le-systeme-solaire.net/rest/knownc...
4,moonsPlanet,206,08/10/2019,https://api.le-systeme-solaire.net/rest/knownc...
5,moonsDwarfPlanet,9,02/05/2016,https://api.le-systeme-solaire.net/rest/knownc...
6,moonsAsteroid,558,21/11/2021,https://api.le-systeme-solaire.net/rest/knownc...

In [10]:
with open('{lune}.json') as f:
    data_lune = json.load(f)

df_lune = pd.DataFrame(data_lune)
print(df_lune)

                id     name englishName  isPlanet moons  semimajorAxis  \
massValue     lune  La Lune        Moon     False  None         384400
massExponent  lune  La Lune        Moon     False  None         384400
volValue      lune  La Lune        Moon     False  None         384400
volExponent   lune  La Lune        Moon     False  None         384400
planet        lune  La Lune        Moon     False  None         384400
rel           lune  La Lune        Moon     False  None         384400

              perihelion  aphelion  eccentricity  inclination  ...  \
massValue         363300    405500        0.0549        5.145  ...
massExponent      363300    405500        0.0549        5.145  ...
volValue          363300    405500        0.0549        5.145  ...
volExponent       363300    405500        0.0549        5.145  ...
planet            363300    405500        0.0549        5.145  ...
rel               363300    405500        0.0549        5.145  ...

                                                   aroundPlanet  discoveredBy  \
massValue                                                   NaN
massExponent                                                NaN
volValue                                                    NaN
volExponent                                                 NaN
planet                                                    terre
rel           https://api.le-systeme-solaire.net/rest/bodies...

              discoveryDate  alternativeName  axialTilt  avgTemp  mainAnomaly  \
massValue                                          6.68        0            0
massExponent                                       6.68        0            0
volValue                                           6.68        0            0
volExponent                                        6.68        0            0
planet                                             6.68        0            0
rel                                                6.68        0            0

              argPeriapsis  longAscNode bodyType
massValue                0            0     Moon
massExponent             0            0     Moon
volValue                 0            0     Moon
volExponent              0            0     Moon
planet                   0            0     Moon
rel                      0            0     Moon

[6 rows x 32 columns]

In [13]:
 #nettoyage
 df   
 #drop duplicate   
dfd = df.drop_duplicates()
dfd

                                                bodies
0    {'id': 'lune', 'name': 'La Lune', 'englishName...
1    {'id': 'phobos', 'name': 'Phobos', 'englishNam...
2    {'id': 'deimos', 'name': 'Deïmos', 'englishNam...
3    {'id': 'io', 'name': 'Io', 'englishName': 'Io'...
4    {'id': 'europe', 'name': 'Europe', 'englishNam...
..                                                 ...
282  {'id': 's2004s37', 'name': 'S/2004 S 37', 'eng...
283  {'id': 's2004s38', 'name': 'S/2004 S 38', 'eng...
284  {'id': 's2004s39', 'name': 'S/2004 S 39', 'eng...
285  {'id': 'c2020f3-neowise', 'name': 'C/2020 F3 (...
286  {'id': 's2003j24', 'name': 'S/2003 J 24', 'eng...

[287 rows x 1 columns]

In [21]:
#drop columns
print(df_lune)
df_lune1 = df_lune.drop(columns= "discoveryDate")
print(df_lune1)

                id     name englishName  isPlanet moons  semimajorAxis  \
massValue     lune  La Lune        Moon     False  None         384400
massExponent  lune  La Lune        Moon     False  None         384400
volValue      lune  La Lune        Moon     False  None         384400
volExponent   lune  La Lune        Moon     False  None         384400
planet        lune  La Lune        Moon     False  None         384400
rel           lune  La Lune        Moon     False  None         384400

              perihelion  aphelion  eccentricity  inclination  ...  \
massValue         363300    405500        0.0549        5.145  ...
massExponent      363300    405500        0.0549        5.145  ...
volValue          363300    405500        0.0549        5.145  ...
volExponent       363300    405500        0.0549        5.145  ...
planet            363300    405500        0.0549        5.145  ...
rel               363300    405500        0.0549        5.145  ...

                                                   aroundPlanet  discoveredBy  \
massValue                                                   NaN
massExponent                                                NaN
volValue                                                    NaN
volExponent                                                 NaN
planet                                                    terre
rel           https://api.le-systeme-solaire.net/rest/bodies...

              discoveryDate  alternativeName  axialTilt  avgTemp  mainAnomaly  \
massValue                                          6.68        0            0
massExponent                                       6.68        0            0
volValue                                           6.68        0            0
volExponent                                        6.68        0            0
planet                                             6.68        0            0
rel                                                6.68        0            0

              argPeriapsis  longAscNode bodyType
massValue                0            0     Moon
massExponent             0            0     Moon
volValue                 0            0     Moon
volExponent              0            0     Moon
planet                   0            0     Moon
rel                      0            0     Moon

[6 rows x 32 columns]
                id     name englishName  isPlanet moons  semimajorAxis  \
massValue     lune  La Lune        Moon     False  None         384400
massExponent  lune  La Lune        Moon     False  None         384400
volValue      lune  La Lune        Moon     False  None         384400
volExponent   lune  La Lune        Moon     False  None         384400
planet        lune  La Lune        Moon     False  None         384400
rel           lune  La Lune        Moon     False  None         384400

              perihelion  aphelion  eccentricity  inclination  ...  \
massValue         363300    405500        0.0549        5.145  ...
massExponent      363300    405500        0.0549        5.145  ...
volValue          363300    405500        0.0549        5.145  ...
volExponent       363300    405500        0.0549        5.145  ...
planet            363300    405500        0.0549        5.145  ...
rel               363300    405500        0.0549        5.145  ...

              sideralRotation  \
massValue             655.728
massExponent          655.728
volValue              655.728
volExponent           655.728
planet                655.728
rel                   655.728

                                                   aroundPlanet  discoveredBy  \
massValue                                                   NaN
massExponent                                                NaN
volValue                                                    NaN
volExponent                                                 NaN
planet                                                    terre
rel           https://api.le-systeme-solaire.net/rest/bodies...

              alternativeName  axialTilt  avgTemp  mainAnomaly  argPeriapsis  \
massValue                           6.68        0            0             0
massExponent                        6.68        0            0             0
volValue                            6.68        0            0             0
volExponent                         6.68        0            0             0
planet                              6.68        0            0             0
rel                                 6.68        0            0             0

              longAscNode bodyType
massValue               0     Moon
massExponent            0     Moon
volValue                0     Moon
volExponent             0     Moon
planet                  0     Moon
rel                     0     Moon

[6 rows x 31 columns]

In [29]:
#strip
df_lune['englishName'].str.strip() #par defaut on supprime le caractere espace
df_lune['englishName'].str.strip("...") #lstrip ou rstrip
df_lune['englishName'].str.strip("/")
df_lune['englishName'].str.strip("-")
df_lune['englishName'] = df_lune['englishName'].str.strip("...")
df_lune

,id,name,englishName,isPlanet,moons,semimajorAxis,perihelion,aphelion,eccentricity,inclination,...,aroundPlanet,discoveredBy,discoveryDate,alternativeName,axialTilt,avgTemp,mainAnomaly,argPeriapsis,longAscNode,bodyType
massValue,lune,La Lune,Moon,False,None,384400,363300,405500,0.0549,5.145,...,NaN,,,,6.68,0,0,0,0,Moon
massExponent,lune,La Lune,Moon,False,None,384400,363300,405500,0.0549,5.145,...,NaN,,,,6.68,0,0,0,0,Moon
volValue,lune,La Lune,Moon,False,None,384400,363300,405500,0.0549,5.145,...,NaN,,,,6.68,0,0,0,0,Moon
volExponent,lune,La Lune,Moon,False,None,384400,363300,405500,0.0549,5.145,...,NaN,,,,6.68,0,0,0,0,Moon
planet,lune,La Lune,Moon,False,None,384400,363300,405500,0.0549,5.145,...,terre,,,,6.68,0,0,0,0,Moon
rel,lune,La Lune,Moon,False,None,384400,363300,405500,0.0549,5.145,...,https://api.le-systeme-solaire.net/rest/bodies...,,,,6.68,0,0,0,0,Moon

In [31]:
df_lune['englishName'] = df_lune['englishName'].str.strip("123._/")
df_lune

,id,name,englishName,isPlanet,moons,semimajorAxis,perihelion,aphelion,eccentricity,inclination,...,aroundPlanet,discoveredBy,discoveryDate,alternativeName,axialTilt,avgTemp,mainAnomaly,argPeriapsis,longAscNode,bodyType
massValue,lune,La Lune,Moon,False,None,384400,363300,405500,0.0549,5.145,...,NaN,,,,6.68,0,0,0,0,Moon
massExponent,lune,La Lune,Moon,False,None,384400,363300,405500,0.0549,5.145,...,NaN,,,,6.68,0,0,0,0,Moon
volValue,lune,La Lune,Moon,False,None,384400,363300,405500,0.0549,5.145,...,NaN,,,,6.68,0,0,0,0,Moon
volExponent,lune,La Lune,Moon,False,None,384400,363300,405500,0.0549,5.145,...,NaN,,,,6.68,0,0,0,0,Moon
planet,lune,La Lune,Moon,False,None,384400,363300,405500,0.0549,5.145,...,terre,,,,6.68,0,0,0,0,Moon
rel,lune,La Lune,Moon,False,None,384400,363300,405500,0.0549,5.145,...,https://api.le-systeme-solaire.net/rest/bodies...,,,,6.68,0,0,0,0,Moon

In [75]:
with open('exoplaneteu_catalog-1.json') as f:
    data = json.load(f)

df2 = pd.DataFrame(data)
print(df2)

                         name discovered     updated   mass  mass_error_min  \
0                    11 UMi b       2009  2023-03-03    NaN             NaN
1                  16 Cyg B b       1996  2021-10-02    NaN             NaN
2     1RXS J235133.3+312720 b       2012  2019-02-26  32.00            6.00
3                    24 Boo b       2018  2021-10-02    NaN             NaN
4                    24 Sex c       2010  2021-10-02    NaN             NaN
...                       ...        ...         ...    ...             ...
5394                rho Crb e       2023  2023-06-13    NaN             NaN
5395                tau Cet f       2012  2017-08-15    NaN             NaN
5396                tau Cet g       2017  2021-03-30    NaN             NaN
5397                ups And b       1996  2019-08-16   0.62            0.09
5398                zet Del B       2014  2019-01-24  40.00            5.00

      mass_error_max  mass_sini  mass_sini_error_min  mass_sini_error_max  \
0                NaN   11.08730              1.10000              1.10000
1                NaN    1.64000              0.08000              0.08000
2                6.0        NaN                  NaN                  NaN
3                NaN    0.91000              0.11000              0.11000
4                NaN    1.52000              0.20000              0.20000
...              ...        ...                  ...                  ...
5394             NaN    0.01192              0.00170              0.00170
5395             NaN    0.01240              0.00431              0.00330
5396             NaN    0.00551              0.00130              0.00079
5397             NaN    0.62000              0.09000              0.09000
5398            15.0        NaN                  NaN                  NaN

      radius  ...  star_age_error_min  star_age_error_max  star_teff  \
0        NaN  ...               0.540               0.540     4340.0
1        NaN  ...               1.800               1.800     5766.0
2        NaN  ...               0.050               0.050        NaN
3        NaN  ...               4.800               4.800     4893.0
4        NaN  ...               0.400               0.400     5098.0
...      ...  ...                 ...                 ...        ...
5394     NaN  ...               1.700               1.700     5822.0
5395     NaN  ...                 NaN                 NaN     5344.0
5396     NaN  ...                 NaN                 NaN     5344.0
5397     NaN  ...               1.000               1.000     6212.0
5398     NaN  ...               0.125               0.125     8336.0

      star_teff_error_min  star_teff_error_max  star_detected_disc  \
0                    70.0                 70.0                None
1                    60.0                 60.0                None
2                     NaN                  NaN                None
3                    15.0                 15.0                None
4                    44.0                 44.0                None
...                   ...                  ...                 ...
5394                 70.0                 70.0                None
5395                 50.0                 50.0             Imaging
5396                 50.0                 50.0             Imaging
5397                 80.0                 80.0                None
5398                  NaN                  NaN                None

      star_magnetic_field                            star_alternate_names  \
0                    None                                            None
1                    None                                            None
2                    None                         2MASS J23513366+3127229
3                    None                                            None
4                    None                                            None
...                   ...                                             ...
5394                 None                                       HD 143761
5395                 None                                            None
5396                 None                                            None
5397                 None                                            None
5398                 None  HD 196180, HIP 101589, 2MASS J20351852+1440272

      planet_status                    publication
0         Confirmed  Published in a refereed paper
1         Confirmed  Published in a refereed paper
2         Confirmed  Published in a refereed paper
3         Confirmed  Published in a refereed paper
4         Confirmed  Published in a refereed paper
...             ...                            ...
5394      Confirmed  Published in a refereed paper
5395      Confirmed  Published in a refereed paper
5396      Confirmed  Published in a refereed paper
5397      Confirmed  Published in a refereed paper
5398      Confirmed  Published in a refereed paper

[5399 rows x 98 columns]

In [78]:
df2 = df2.drop(columns= ["publication","mass_error_min","mass_error_max",
                         "star_magnetic_field","mass_sini_error_min",
                         "mass_sini_error_max","radius_error_min","radius_error_max",
                         "orbital_period_error_min","orbital_period_error_max",
                         "star_age_error_min","star_age_error_max",
                         "semi_major_axis_error_min","semi_major_axis_error_max",
                         "star_radius_error_min" ,"star_radius_error_max",
                         "eccentricity_error_min","eccentricity_error_max",
                         "star_mass_error_min","star_mass_error_max",
                         "star_teff_error_min","star_teff_error_max",
                         "star_metallicity_error_min","star_metallicity_error_max",
                         "star_distance_error_min","star_distance_error_max",
                         "inclination_error_min","inclination_error_min",
                         "omega_error_min","omega_error_max",
                         "tperi_error_min","tperi_error_max",
                         "tconj_error_min","tconj_error_max",
                         "tzero_tr_error_min","tzero_tr_error_max",
                         "tzero_tr_sec_error_min","tzero_tr_sec_error_max",
                         "lambda_angle_error_min","lambda_angle_error_max",
                         "impact_parameter_error_min","impact_parameter_error_max",
                         "tzero_vr_error_min","tzero_vr_error_max",
                         "temp_calculated_error_min","temp_calculated_error_max",
                         "geometric_albedo_error_min","geometric_albedo_error_max"
                        ])
df2

,name,discovered,updated,mass,mass_sini,radius,orbital_period,semi_major_axis,eccentricity,inclination,...,star_distance,star_metallicity,star_mass,star_radius,star_sp_type,star_age,star_teff,star_detected_disc,star_alternate_names,planet_status
0,11 UMi b,2009,2023-03-03,NaN,11.08730,NaN,516.22000,1.5400,0.08000,NaN,...,119.5000,0.04,1.800,24.080,K4III,1.560,4340.0,None,None,Confirmed
1,16 Cyg B b,1996,2021-10-02,NaN,1.64000,NaN,799.50000,1.6800,0.68900,NaN,...,21.4100,0.08,1.010,0.980,G2.5 V,8.000,5766.0,None,None,Confirmed
2,1RXS J235133.3+312720 b,2012,2019-02-26,32.00,NaN,NaN,NaN,120.0000,NaN,NaN,...,NaN,NaN,0.450,NaN,M2V,0.100,NaN,None,2MASS J23513366+3127229,Confirmed
3,24 Boo b,2018,2021-10-02,NaN,0.91000,NaN,30.35060,0.1900,0.04200,NaN,...,100.0000,-0.77,0.990,10.640,G3IV,6.920,4893.0,None,None,Confirmed
4,24 Sex c,2010,2021-10-02,NaN,1.52000,NaN,883.00000,2.0800,0.29000,NaN,...,72.2084,-0.03,1.540,4.900,G5,2.700,5098.0,None,None,Confirmed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5394,rho Crb e,2023,2023-06-13,NaN,0.01192,NaN,12.94900,0.1061,0.12600,NaN,...,17.4300,-0.24,0.990,1.284,G0V or G2V,9.000,5822.0,None,HD 143761,Confirmed
5395,tau Cet f,2012,2017-08-15,NaN,0.01240,NaN,636.13000,1.3340,0.16000,NaN,...,3.6500,-0.55,0.783,0.793,G8.5 V,5.800,5344.0,Imaging,None,Confirmed
5396,tau Cet g,2017,2021-03-30,NaN,0.00551,NaN,20.00000,0.1330,0.06000,NaN,...,3.6500,-0.55,0.783,0.793,G8.5 V,5.800,5344.0,Imaging,None,Confirmed
5397,ups And b,1996,2019-08-16,0.62,0.62000,NaN,4.61711,0.0590,0.01186,90.0,...,13.4700,0.09,1.270,1.631,F8 V,3.800,6212.0,None,None,Confirmed
5398,zet Del B,2014,2019-01-24,40.00,NaN,NaN,NaN,907.0000,NaN,NaN,...,67.4800,-0.05,2.500,NaN,A3V,0.525,8336.0,None,"HD 196180, HIP 101589, 2MASS J20351852+1440272",Confirmed

In [79]:
print(df2)

                         name discovered     updated   mass  mass_sini  \
0                    11 UMi b       2009  2023-03-03    NaN   11.08730
1                  16 Cyg B b       1996  2021-10-02    NaN    1.64000
2     1RXS J235133.3+312720 b       2012  2019-02-26  32.00        NaN
3                    24 Boo b       2018  2021-10-02    NaN    0.91000
4                    24 Sex c       2010  2021-10-02    NaN    1.52000
...                       ...        ...         ...    ...        ...
5394                rho Crb e       2023  2023-06-13    NaN    0.01192
5395                tau Cet f       2012  2017-08-15    NaN    0.01240
5396                tau Cet g       2017  2021-03-30    NaN    0.00551
5397                ups And b       1996  2019-08-16   0.62    0.62000
5398                zet Del B       2014  2019-01-24  40.00        NaN

      radius  orbital_period  semi_major_axis  eccentricity  inclination  ...  \
0        NaN       516.22000           1.5400       0.08000          NaN  ...
1        NaN       799.50000           1.6800       0.68900          NaN  ...
2        NaN             NaN         120.0000           NaN          NaN  ...
3        NaN        30.35060           0.1900       0.04200          NaN  ...
4        NaN       883.00000           2.0800       0.29000          NaN  ...
...      ...             ...              ...           ...          ...  ...
5394     NaN        12.94900           0.1061       0.12600          NaN  ...
5395     NaN       636.13000           1.3340       0.16000          NaN  ...
5396     NaN        20.00000           0.1330       0.06000          NaN  ...
5397     NaN         4.61711           0.0590       0.01186         90.0  ...
5398     NaN             NaN         907.0000           NaN          NaN  ...

      star_distance  star_metallicity  star_mass  star_radius star_sp_type  \
0          119.5000              0.04      1.800       24.080        K4III
1           21.4100              0.08      1.010        0.980       G2.5 V
2               NaN               NaN      0.450          NaN          M2V
3          100.0000             -0.77      0.990       10.640         G3IV
4           72.2084             -0.03      1.540        4.900           G5
...             ...               ...        ...          ...          ...
5394        17.4300             -0.24      0.990        1.284   G0V or G2V
5395         3.6500             -0.55      0.783        0.793       G8.5 V
5396         3.6500             -0.55      0.783        0.793       G8.5 V
5397        13.4700              0.09      1.270        1.631         F8 V
5398        67.4800             -0.05      2.500          NaN          A3V

      star_age star_teff  star_detected_disc  \
0        1.560    4340.0                None
1        8.000    5766.0                None
2        0.100       NaN                None
3        6.920    4893.0                None
4        2.700    5098.0                None
...        ...       ...                 ...
5394     9.000    5822.0                None
5395     5.800    5344.0             Imaging
5396     5.800    5344.0             Imaging
5397     3.800    6212.0                None
5398     0.525    8336.0                None

                                star_alternate_names  planet_status
0                                               None      Confirmed
1                                               None      Confirmed
2                            2MASS J23513366+3127229      Confirmed
3                                               None      Confirmed
4                                               None      Confirmed
...                                              ...            ...
5394                                       HD 143761      Confirmed
5395                                            None      Confirmed
5396                                            None      Confirmed
5397                                            None      Confirmed
5398  HD 196180, HIP 101589, 2MASS J20351852+1440272      Confirmed

[5399 rows x 51 columns]

In [80]:
df2.columns

Index(['name', 'discovered', 'updated', 'mass', 'mass_sini', 'radius',
       'orbital_period', 'semi_major_axis', 'eccentricity', 'inclination',
       'inclination_error_max', 'angular_distance', 'omega', 'tperi', 'tconj',
       'tzero_tr', 'tzero_tr_sec', 'lambda_angle', 'impact_parameter',
       'tzero_vr', 'k', 'k_error_min', 'k_error_max', 'temp_calculated',
       'temp_measured', 'hot_point_lon', 'geometric_albedo', 'log_g',
       'detection_type', 'mass_detection_type', 'radius_detection_type',
       'alternate_names', 'molecules', 'star_name', 'ra', 'dec', 'mag_v',
       'mag_i', 'mag_j', 'mag_h', 'mag_k', 'star_distance', 'star_metallicity',
       'star_mass', 'star_radius', 'star_sp_type', 'star_age', 'star_teff',
       'star_detected_disc', 'star_alternate_names', 'planet_status'],
      dtype='object')

In [83]:
df2["star_alternate_names"]=df2["star_alternate_names"].str.replace('[^a-a A-Z0-9]','')#remplace par rien ce qui es trouvé  
#le ^ signifie renvoi tout sauf ce qui est listé (donc la règle exclue les abcd....)

/tmp/ipykernel_13607/2562280336.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df2["star_alternate_names"]=df2["star_alternate_names"].str.replace('[^a-a A-Z0-9]','')#remplace par rien ce qui es trouvé

In [84]:
print(df2)

                         name discovered     updated   mass  mass_sini  \
0                    11 UMi b       2009  2023-03-03    NaN   11.08730
1                  16 Cyg B b       1996  2021-10-02    NaN    1.64000
2     1RXS J235133.3+312720 b       2012  2019-02-26  32.00        NaN
3                    24 Boo b       2018  2021-10-02    NaN    0.91000
4                    24 Sex c       2010  2021-10-02    NaN    1.52000
...                       ...        ...         ...    ...        ...
5394                rho Crb e       2023  2023-06-13    NaN    0.01192
5395                tau Cet f       2012  2017-08-15    NaN    0.01240
5396                tau Cet g       2017  2021-03-30    NaN    0.00551
5397                ups And b       1996  2019-08-16   0.62    0.62000
5398                zet Del B       2014  2019-01-24  40.00        NaN

      radius  orbital_period  semi_major_axis  eccentricity  inclination  ...  \
0        NaN       516.22000           1.5400       0.08000          NaN  ...
1        NaN       799.50000           1.6800       0.68900          NaN  ...
2        NaN             NaN         120.0000           NaN          NaN  ...
3        NaN        30.35060           0.1900       0.04200          NaN  ...
4        NaN       883.00000           2.0800       0.29000          NaN  ...
...      ...             ...              ...           ...          ...  ...
5394     NaN        12.94900           0.1061       0.12600          NaN  ...
5395     NaN       636.13000           1.3340       0.16000          NaN  ...
5396     NaN        20.00000           0.1330       0.06000          NaN  ...
5397     NaN         4.61711           0.0590       0.01186         90.0  ...
5398     NaN             NaN         907.0000           NaN          NaN  ...

      star_distance  star_metallicity  star_mass  star_radius star_sp_type  \
0          119.5000              0.04      1.800       24.080        K4III
1           21.4100              0.08      1.010        0.980       G2.5 V
2               NaN               NaN      0.450          NaN          M2V
3          100.0000             -0.77      0.990       10.640         G3IV
4           72.2084             -0.03      1.540        4.900           G5
...             ...               ...        ...          ...          ...
5394        17.4300             -0.24      0.990        1.284   G0V or G2V
5395         3.6500             -0.55      0.783        0.793       G8.5 V
5396         3.6500             -0.55      0.783        0.793       G8.5 V
5397        13.4700              0.09      1.270        1.631         F8 V
5398        67.4800             -0.05      2.500          NaN          A3V

      star_age star_teff  star_detected_disc  \
0        1.560    4340.0                None
1        8.000    5766.0                None
2        0.100       NaN                None
3        6.920    4893.0                None
4        2.700    5098.0                None
...        ...       ...                 ...
5394     9.000    5822.0                None
5395     5.800    5344.0             Imaging
5396     5.800    5344.0             Imaging
5397     3.800    6212.0                None
5398     0.525    8336.0                None

                             star_alternate_names  planet_status
0                                            None      Confirmed
1                                            None      Confirmed
2                          2MASS J235133663127229      Confirmed
3                                            None      Confirmed
4                                            None      Confirmed
...                                           ...            ...
5394                                    HD 143761      Confirmed
5395                                         None      Confirmed
5396                                         None      Confirmed
5397                                         None      Confirmed
5398  HD 196180 HIP 101589 2MASS J203518521440272      Confirmed

[5399 rows x 51 columns]

In [85]:
#format telephone si nombre = 1234567895 vers 123-456-7895
#df["Phone_Number"].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10]) 
#---> erreur car float and not str

#on converti d'abord chaque cellule en texte pour pouvoir spliter" 
#df["Phone_Number"]=df["Phone_Number"].apply(lambda x: str(x)) 
#puis on split au format telephone
#df["Phone_Number"]=df["Phone_Number"].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])
#les autres valeurs sont remplacées
#df["Phone_Number"]=df["Phone_Number"].str.replace('nan--','')

#on peut séparer une adresse en plusieurs parties
#df[["numero","rue","type rue"]] = df["Phone_Number"].str.split(',',1, expand=True)   
#par defaut c'est l'espace le séparateur; 1 est le nombre de valeur "," prise
#3 nouvelles colonnes sont créées

#remplacer les naN par rien
#df.fillna('') 
#ou par autrechose
#df.fillna('autrechose')

#drop row suivant la colonne Do_Not_Contact
#for x in df.index:
#    if df.loc[x, "Do_Not_Contact"] == "Y":
#        df.drop(x, inplace=True)

#reindexer les lignes si il y en a de supprimer
#df.reset_index(drop=True)  #drop=True evite de garder la colonne des index précédent

#on peut aussi supprimer des lignes vide
#df.dropna(subset = "Phone_Number", inplace=True)