In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
#df0 = pd.read_csv("data20230518.csv")
df0 = pd.read_csv("/mnt/1c204b66-1229-4080-9d78-8566b7957960/outil/python/Python_codes/pandas/data20230518.csv")
df0

/tmp/ipykernel_15306/2426207081.py:3: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df0 = pd.read_csv("/mnt/1c204b66-1229-4080-9d78-8566b7957960/outil/python/Python_codes/pandas/data20230518.csv")

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,default_flag,sy_snum,...,sy_kepmag,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,2,...,NaN,2014-05-14,2008-01,2014-05-14,2,1,2,0,0,0
1,2,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,0,2,...,NaN,2014-07-23,2011-08,2014-07-23,2,1,2,0,0,0
2,3,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,0,1,...,NaN,2018-04-25,2009-10,2014-05-14,0,1,1,0,0,0
3,4,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,0,1,...,NaN,2018-04-25,2011-08,2014-07-23,0,1,1,0,0,0
4,5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,1,1,...,NaN,2018-09-04,2017-03,2018-09-06,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34731,34732,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,0,2,...,NaN,2014-09-18,2007-01,2014-09-18,5,1,10,1,0,0
34732,34733,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,0,2,...,NaN,2014-08-21,2004-01,2014-08-21,5,1,10,1,0,0
34733,34734,ups Leo b,ups Leo,b,NaN,NaN,TIC 49430557,Gaia DR2 3794167001116433152,1,1,...,NaN,2022-01-10,2021-12,2022-01-10,0,0,0,0,0,0
34734,34735,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,0,1,...,NaN,2014-07-23,2011-08,2014-07-23,1,1,1,0,0,0
34735,34736,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,1,1,...,NaN,2014-05-14,2008-06,2014-05-14,1,1,1,0,0,0

In [10]:
#changer nombre decimale pour les nombre float   avec 2 decimales "
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [14]:
df0.info()
df0.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34736 entries, 0 to 34735
Columns: 121 entries, rowid to pl_ntranspec
dtypes: float64(69), int64(25), object(27)
memory usage: 32.1+ MB

,rowid,default_flag,sy_snum,sy_pnum,sy_mnum,cb_flag,disc_year,rv_flag,pul_flag,ptv_flag,...,sy_gaiamag,sy_icmag,sy_tmag,sy_kepmag,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec
count,34736.00,34736.00,34736.00,34736.00,34736.00,34736.00,34736.00,34736.00,34736.00,34736.00,...,33826.00,45.00,34121.00,28950.00,34736.00,34736.00,34736.00,34736.00,34736.00,34736.00
mean,17368.50,0.16,1.08,1.88,0.00,0.00,2015.25,0.21,0.00,0.00,...,13.48,22.50,12.93,14.16,1.02,0.48,0.20,0.11,0.21,1.51
std,10027.56,0.36,0.30,1.20,0.00,0.05,3.72,0.41,0.02,0.01,...,2.30,5.10,2.27,1.42,1.09,3.87,0.89,0.78,2.88,29.42
min,1.00,0.00,1.00,1.00,0.00,0.00,1992.00,0.00,0.00,0.00,...,2.93,17.13,-1.20,5.97,0.00,0.00,0.00,0.00,0.00,0.00
25%,8684.75,0.00,1.00,1.00,0.00,0.00,2014.00,0.00,0.00,0.00,...,12.58,19.00,12.11,13.40,1.00,0.00,0.00,0.00,0.00,0.00
50%,17368.50,0.00,1.00,1.00,0.00,0.00,2016.00,0.00,0.00,0.00,...,14.12,21.39,13.56,14.47,1.00,0.00,0.00,0.00,0.00,0.00
75%,26052.25,0.00,1.00,2.00,0.00,0.00,2016.00,0.00,0.00,0.00,...,15.09,23.43,14.51,15.22,1.00,0.00,0.00,0.00,0.00,0.00
max,34736.00,1.00,4.00,8.00,0.00,1.00,2023.00,1.00,1.00,1.00,...,20.19,37.24,19.29,17.48,16.00,70.00,12.00,13.00,111.00,1625.00

In [15]:
#nombre de valeur nulle
df0.isnull().sum()

rowid               0
pl_name             0
hostname            0
pl_letter           0
hd_name         32384
                ...
st_nphot            0
st_nrvc             0
st_nspec            0
pl_nespec           0
pl_ntranspec        0
Length: 121, dtype: int64

In [17]:
#nombre de ligne unique
df0.nunique()

rowid           34736
pl_name          5419
hostname         4037
pl_letter           8
hd_name           680
                ...
st_nphot           35
st_nrvc            13
st_nspec           12
pl_nespec          19
pl_ntranspec       55
Length: 121, dtype: int64

In [19]:
df0.sort_values(by="sy_pnum").head()

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,default_flag,sy_snum,...,sy_kepmag,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,2,...,NaN,2014-05-14,2008-01,2014-05-14,2,1,2,0,0,0
17208,17209,Kepler-1943 b,Kepler-1943,b,NaN,NaN,TIC 138100223,Gaia DR2 2077381299180152704,0,1,...,13.81,2017-05-08,2017-08-31 00:00,2017-05-08,0,0,0,0,0,0
17207,17208,Kepler-1943 b,Kepler-1943,b,NaN,NaN,TIC 138100223,Gaia DR2 2077381299180152704,0,1,...,13.81,2015-08-25,2015-09-24,2015-08-25,0,0,0,0,0,0
17206,17207,Kepler-1943 b,Kepler-1943,b,NaN,NaN,TIC 138100223,Gaia DR2 2077381299180152704,0,1,...,13.81,2014-11-21,2014-12-18,2014-11-21,0,0,0,0,0,0
17205,17206,Kepler-1943 b,Kepler-1943,b,NaN,NaN,TIC 138100223,Gaia DR2 2077381299180152704,1,1,...,13.81,2021-12-05,2022-02,2021-12-05,0,0,0,0,0,0

In [20]:
df0.sort_values(by="sy_pnum", ascending=False).head()

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,default_flag,sy_snum,...,sy_kepmag,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec
5620,5621,KOI-351 e,KOI-351,e,NaN,NaN,TIC 267667295,Gaia DR2 2132193431285570304,0,1,...,13.80,2016-07-26,2016-07,2016-07-28,0,0,0,0,0,0
5649,5650,KOI-351 h,KOI-351,h,NaN,NaN,TIC 267667295,Gaia DR2 2132193431285570304,0,1,...,13.80,2016-04-27,2016-03,2016-04-28,1,0,0,0,0,0
5619,5620,KOI-351 e,KOI-351,e,NaN,NaN,TIC 267667295,Gaia DR2 2132193431285570304,0,1,...,13.80,2014-11-18,2014-12-04,2014-11-18,0,0,0,0,0,0
5621,5622,KOI-351 e,KOI-351,e,NaN,NaN,TIC 267667295,Gaia DR2 2132193431285570304,0,1,...,13.80,2013-10-28,2014-01-08,2013-10-28,0,0,0,0,0,0
5622,5623,KOI-351 e,KOI-351,e,NaN,NaN,TIC 267667295,Gaia DR2 2132193431285570304,0,1,...,13.80,2018-09-04,2018-10,2018-09-06,0,0,0,0,0,0

In [21]:
df0.sort_values(by="sy_pnum", ascending=False).head(20)

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,default_flag,sy_snum,...,sy_kepmag,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec
5620,5621,KOI-351 e,KOI-351,e,NaN,NaN,TIC 267667295,Gaia DR2 2132193431285570304,0,1,...,13.80,2016-07-26,2016-07,2016-07-28,0,0,0,0,0,0
5649,5650,KOI-351 h,KOI-351,h,NaN,NaN,TIC 267667295,Gaia DR2 2132193431285570304,0,1,...,13.80,2016-04-27,2016-03,2016-04-28,1,0,0,0,0,0
5619,5620,KOI-351 e,KOI-351,e,NaN,NaN,TIC 267667295,Gaia DR2 2132193431285570304,0,1,...,13.80,2014-11-18,2014-12-04,2014-11-18,0,0,0,0,0,0
5621,5622,KOI-351 e,KOI-351,e,NaN,NaN,TIC 267667295,Gaia DR2 2132193431285570304,0,1,...,13.80,2013-10-28,2014-01-08,2013-10-28,0,0,0,0,0,0
5622,5623,KOI-351 e,KOI-351,e,NaN,NaN,TIC 267667295,Gaia DR2 2132193431285570304,0,1,...,13.80,2018-09-04,2018-10,2018-09-06,0,0,0,0,0,0
5623,5624,KOI-351 f,KOI-351,f,NaN,NaN,TIC 267667295,Gaia DR2 2132193431285570304,0,1,...,13.80,2014-11-18,2014-12-04,2014-11-18,0,0,0,0,0,0
5624,5625,KOI-351 f,KOI-351,f,NaN,NaN,TIC 267667295,Gaia DR2 2132193431285570304,0,1,...,13.80,2018-09-04,2018-10,2018-09-06,0,0,0,0,0,0
5625,5626,KOI-351 f,KOI-351,f,NaN,NaN,TIC 267667295,Gaia DR2 2132193431285570304,0,1,...,13.80,2019-04-16,2019-03,2019-04-18,0,0,0,0,0,0
5626,5627,KOI-351 f,KOI-351,f,NaN,NaN,TIC 267667295,Gaia DR2 2132193431285570304,0,1,...,13.80,2017-05-08,2017-08-31 00:00,2017-05-08,0,0,0,0,0,0
5627,5628,KOI-351 f,KOI-351,f,NaN,NaN,TIC 267667295,Gaia DR2 2132193431285570304,0,1,...,13.80,2018-09-25,2018-08-16,2018-09-25,0,0,0,0,0,0
5628,5629,KOI-351 f,KOI-351,f,NaN,NaN,TIC 267667295,Gaia DR2 2132193431285570304,1,1,...,13.80,2014-05-14,2014-01,2014-05-14,0,0,0,0,0,0
5629,5630,KOI-351 f,KOI-351,f,NaN,NaN,TIC 267667295,Gaia DR2 2132193431285570304,0,1,...,13.80,2014-11-21,2014-12-18,2014-11-21,0,0,0,0,0,0
5630,5631,KOI-351 g,KOI-351,g,NaN,NaN,TIC 267667295,Gaia DR2 2132193431285570304,0,1,...,13.80,2013-10-28,2014-01-08,2013-10-28,0,0,0,0,0,0
5631,5632,KOI-351 g,KOI-351,g,NaN,NaN,TIC 267667295,Gaia DR2 2132193431285570304,0,1,...,13.80,2017-05-08,2017-08-31 00:00,2017-05-08,0,0,0,0,0,0
5632,5633,KOI-351 g,KOI-351,g,NaN,NaN,TIC 267667295,Gaia DR2 2132193431285570304,0,1,...,13.80,2016-04-27,2016-03,2016-04-28,0,0,0,0,0,0
5633,5634,KOI-351 g,KOI-351,g,NaN,NaN,TIC 267667295,Gaia DR2 2132193431285570304,0,1,...,13.80,2018-09-04,2018-10,2018-09-06,0,0,0,0,0,0
5634,5635,KOI-351 g,KOI-351,g,NaN,NaN,TIC 267667295,Gaia DR2 2132193431285570304,0,1,...,13.80,2019-04-16,2019-03,2019-04-18,0,0,0,0,0,0
5635,5636,KOI-351 g,KOI-351,g,NaN,NaN,TIC 267667295,Gaia DR2 2132193431285570304,0,1,...,13.80,2014-11-21,2014-12-18,2014-11-21,0,0,0,0,0,0
5636,5637,KOI-351 g,KOI-351,g,NaN,NaN,TIC 267667295,Gaia DR2 2132193431285570304,0,1,...,13.80,2016-07-26,2016-07,2016-07-28,0,0,0,0,0,0
5637,5638,KOI-351 g,KOI-351,g,NaN,NaN,TIC 267667295,Gaia DR2 2132193431285570304,0,1,...,13.80,2014-11-18,2014-12-04,2014-11-18,0,0,0,0,0,0